
body{
    width: 80%;
    margin: 0 auto;
    background-color: #D0C9C0;
}
.card{
    background-color: #012443;
    padding: 20px;
    overflow: auto;
    clear: both;
}
.cathy{
    margin: 5px;
    color: antiquewhite;
    font-size:x-large;
    float: inline-start;
    left: 100%;
    padding-right: 140px;
    
}
nav li{
    list-style-type:none;
    display: inline;
    padding: 20px;
    
}
nav{
    float: right;
}
nav ul {
    padding-left: 0;
}
.nav a{
    text-decoration: none;
    margin: 5px;
    color: antiquewhite;
    font-size:x-large;
}
h1{
    width:100%;
    text-align: center;
    color: darkblue;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 40%;
    height: 380px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    float: left;
    padding: 20px;
    left: 100%;
    box-sizing: border-box;
    border-radius:50px;
}
.text{
    padding: 50px;
    font-size:30px;
}
h4{
    font-family:sans-serif;
    color: #012443;
}
footer{
    text-align: center;
    padding: 20px;
    background-color:#D0C9C0;
    color: blue;

}
hr{
   background-color: #012443;
   border-top:2px solid #012443;
}
footer a{
    text-decoration: none;
}
h2{
    text-align: center;
    text-decoration: none;
    color: blue;
    margin-top: 20px;
    font-size: 20px;
   
}
form{
    text-align: center;
}
input,
 textarea,
 #priority{
    width: 50%;
    height: 30px;
    color: #012443;
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 5px;
}
label{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#gender {
    width: 50%;
    height: 30px;
    color: #012443;
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 5px;
}
.button{
    background-color:aliceblue ;
    border: none;
    color:#012443;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #012443;
    border-radius: 5px;
  }
.button:hover{
    background-color: rgb(90, 90, 146);
}
.content{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px;
}
#display{
    text-align: right;
    height: 70px;
    line-height: 60px;
    padding: 14px 8px;
    font-size: 25px;
}
.butons{
    display: grid;
    border-bottom: 1px solid #012443;
    border-left: 1px solid #012443;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.butons > div {
    border-top: 1px solid #012443;
    border-right: 1px solid #012443;
}
.buton{
    border: 0.5px solid #012443;
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.buton:hover{
    background-color:rgb(90, 90, 146) ;
    color: aliceblue;
    transition:0.5s ease-in-out;
}
#equal{
    background-color:gray;
    color: #012443;
}
#equal:hover{
    background-color:rgb(90, 90, 146);
}
.bott{
    display: inline-flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 100px;
    
}
.line{
    display:inline-flex;


}
.p{
   text-align: center;
    color: #012443; 
    font-size: 20px;
    padding-left: 150px;
}
.a{
 text-decoration: none;
 color: blue;
 margin-top: 20px;
 font-size: 20px;

}

.cal{
    float: left;
    color:#012443;
    font-size: 20px;
    
}
.calc{
    float:inline-end;
    color:#012443;
    font-size: 20px;
    padding-left: 160px;

}
.but{
    text-align: center;
    width: 100px    ;
    border: 0.5px solid #012443;
    line-height: 20px;
    font-size: 25px;
    cursor: pointer;
    background-color:rgb(90, 90, 146) ; 
    color: #012443;
   
}
.but:hover{
    background-color:rgb(216, 218, 230);
    color: rgb(197, 223, 245);
    transition:0.5s ease-in-out;
}
.pI{
    text-align: center;
    color: #012443;
    font-size: 20px;
}
